body {
    padding: 20px;
}
.pagination {
    margin: 20px 0;
}

.scrollable-table {
    max-height: 300px; /* Adjust this to whatever height works best */
    overflow-y: auto;
    display: block;
}
#advanced-search-filters {
    margin-top: 20px;
}

.job-search-section {
    background-color: #e0f7fa; /* Light cyan for Job Search */
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.job-fitting-section {
    background-color: #ffe0b2; /* Light orange for Job Fitter */
    padding: 20px;
    border-radius: 10px;
}